*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body, input, button, a  {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  font-family: SF Pro Display;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}
